<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New App</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/newsApp.css" />
  </head>
  <body class="newApp-body">
    <div class="prev-next__wrapper">
      <button class="prev-next-btns"><a href="./mealApp.html">PREV</a></button>
      <button class="prev-next-btns"><a href="./newsApp2.html">NEXT</a></button>
    </div>

    <header class="header">
      <h1>Reading</h1>
    </header>

    <section class="up-to-date">
      <h3 class="title-h3">Up to date</h3>
      <p class="up-to-date__description">Share the latest books</p>
      <div class="up-to-date__container">
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Latest music</h4>
        </article>
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Science</h4>
        </article>
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Latest Books</h4>
        </article>
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Latest music</h4>
        </article>
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Latest music</h4>
        </article>
        <article class="up-to-date__item">
          <div class="up-to-date__cover"></div>
          <h4 class="up-to-date__title">Latest music</h4>
        </article>
      </div>
    </section>

    <section class="star-writer">
      <h3 class="title-h3">Star Writer</h3>
      <div class="star-writer__container">
        <article class="star-writer__item">
          <div class="star-writer__column"></div>
          <div class="star-writer__column">
            <span class="star-writer__name">John Legend</span>
            <span class="star-writer__description">Million Seller</span>
          </div>
        </article>
        <article class="star-writer__item">
          <div class="star-writer__column"></div>
          <div class="star-writer__column">
            <span class="star-writer__name">Lydia</span>
            <span class="star-writer__description">Best Seller</span>
          </div>
        </article>
        <article class="star-writer__item">
          <div class="star-writer__column"></div>
          <div class="star-writer__column">
            <span class="star-writer__name">John Legend</span>
            <span class="star-writer__description">Million Seller</span>
          </div>
        </article>
        <article class="star-writer__item">
          <div class="star-writer__column"></div>
          <div class="star-writer__column">
            <span class="star-writer__name">John Legend</span>
            <span class="star-writer__description">Million Seller</span>
          </div>
        </article>
        <article class="star-writer__item">
          <div class="star-writer__column"></div>
          <div class="star-writer__column">
            <span class="star-writer__name">John Legend</span>
            <span class="star-writer__description">Million Seller</span>
          </div>
        </article>
      </div>
    </section>

    <section class="new-info">
      <h3 class="title-h3">New Information</h3>
      <div class="new-info__container">
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Interior</div>
            <div class="new-info__sub-title">How to make good furniture?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Life Style</div>
            <div class="new-info__sub-title">How to make good life?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Health</div>
            <div class="new-info__sub-title">How to make good health?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Music</div>
            <div class="new-info__sub-title">How to listen good music?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Interior</div>
            <div class="new-info__sub-title">How to make good furniture?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Interior</div>
            <div class="new-info__sub-title">How to make good furniture?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
        <article class="new-info__item">
          <div class="new-info__column"></div>
          <div class="new-info__column">
            <div class="new-info__title">Interior</div>
            <div class="new-info__sub-title">How to make good furniture?</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
