<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsApp 2</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/newsApp2.css" />
  </head>
  <body class="newApp2-body">
    <div class="prev-next__wrapper">
      <button class="prev-next-btns"><a href="./newsApp.html">PREV</a></button>
      <button class="prev-next-btns">
        <a href="./recipeApp.html">NEXT</a>
      </button>
    </div>

    <header class="header">
      <h1>Easy to read</h1>
      <p>Lorem ipsum dolor, sit amet consectetur.</p>
    </header>

    <main class="theme">
      <div class="theme__item">
        <h3 class="title-h3-main">Daily</h3>
        <h3 class="title-h3-main">Language</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur.
        </p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. Lorem ipsum dolor sit amet consectetur.
        </p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor
          sit amet consectetur.
        </p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur.
        </p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur.
        </p>
      </div>
      <div class="theme__item">
        <div class="theme__item-cover"></div>
        <h3 class="title-h3">The Origin and Sign beautiful Art</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur.
        </p>
      </div>
    </main>
  </body>
</html>
