.meal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--twoBgColor);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 30px 0px 10px 15px;
}

.header .header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation {
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
}

.navigation__lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation__list:active {
  transform: scale(0.95);
}

.navigation__list .navigation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--twoIconBgColor);
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.18);
}

.navigation__list .navigation__icon-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.featured {
  width: 100%;
}

.featured .featured__title {
  padding-left: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.featured .featured__wrapper {
  padding-left: 25px;
  display: grid;
  grid-auto-columns: minmax(230px, 1fr);
  grid-auto-flow: column;
  grid-gap: 2rem;
  overflow: scroll;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}

.featured-meal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  background-color: red;
  height: 180px;
}

.featured-meal .featured-meal__title {
  font-size: 1.1rem;
  margin: 0px 20px;
  color: #ffffff;
}

.featured-meal .featured-meal__button {
  all: unset;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.21);
  font-weight: 700;
  font-size: 1.2rem;
}

.featured-meal button:active {
  transform: scale(0.95);
}

.featured-meal:first-child {
  background-image: url('https://images.unsplash.com/photo-1501934398334-266c81d54888?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
}

.featured-meal:nth-child(2) {
  background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.featured-meal:nth-child(3) {
  background-image: url('https://images.unsplash.com/photo-1562634117-6645bf4a9136?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1015&q=80');
}

.recipes {
  width: 100%;
  height: 35vh;
  overflow: scroll;
}

.recipes__lists {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.recipes__list {
  width: 100%;
  padding: 15px 10px 15px 10px;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipes__list button {
  all: unset;
}

.recipes__list .btn-plus {
  font-weight: 800;
}

.recipes__list .btn-checked {
  font-size: 0.8rem;
}

.nav-footer {
  position: relative;
}

.nav-footer__lists {
  position: fixed;
  width: 100%;
  height: 90px;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bdc3c7;
}

.nav-footer__list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav-footer__list:active {
  transform: scale(0.95);
}

.nav-footer__list span:first-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ecf0f169;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.nav-footer__list span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 600;
}
