.recipe-body {
  width: 100%;
  height: 100vh;
  padding: 25px 20px;
}

.header {
  margin: 10px 0px 35px 0px;
}

.header .header__title h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title .header__title-icons {
  opacity: 0.4;
}

.header__title .header__title-icons span svg {
  width: 13px;
  height: 13px;
}

.header__title .header__title-icons span:first-child svg {
  margin-right: 15px;
}

.header__description {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 600;
}

.main {
  height: 50vh;
}

.recipe {
  width: 100%;
  height: 40vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1540660290370-8aa90e451e8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.recipe .recipe__heart {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe .recipe__heart svg {
  width: 15px;
  height: 15px;
  fill: #e74c3c;
}

.recipe .recipe__info {
  position: relative;
  top: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 15vh;
  width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 20px;
}

.recipe .recipe__info .recipe__title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipe .recipe__info .recipe__meta {
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #95a5a6;
  padding-bottom: 10px;
}

.recipe .recipe__info .recipe__social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.recipe .recipe__info .recipe__social span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 0.6;
}

.recipe .recipe__info .recipe__social span svg {
  width: 25px;
  height: 25px;
}

.recommend {
  display: flex;
  flex-direction: column;
}

.recommend__title-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommend__title-main h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.recommend__title-main-p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.5;
}

.recommend {
  height: 40vh;
}

.recommend__container {
  margin-top: 20px;
  display: grid;
  grid-auto-columns: minmax(180px, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 1rem;
  grid-auto-flow: column;
  overflow: scroll;
  padding-bottom: 20px;
}

.recommend__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.recommed__cover {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 80%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 5px;
}

.recommend__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recommend__title h5 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.recommend__title p {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 5px;
}

.recommend__item .recommed__cover {
  background-color: #95a5a6;
}

.recommend__item:first-child .recommed__cover {
  background-image: url('https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80');
}

.recommend__item:nth-child(2) .recommed__cover {
  background-image: url('https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

.recommend__item:nth-child(3) .recommed__cover {
  background-image: url('https://images.unsplash.com/photo-1524010464459-ebc38e4a3331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=829&q=80');
}

.recommend__item:nth-child(4) .recommed__cover {
  background-image: url('https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80');
}
