@import './reset.css';

:root {
  --firstOneColor: #d0edf5;
  --firstTwoColor: #e2f0d6;
  --firstThreeColor: #f9fab6;
  --firstFourColor: #ebebeb;
  --firstFiveColor: #ebebeb;
  --firstSixColor: #fdc3c2;
  --firstSevenColor: #d0edf5;
  --firstEightColor: #e2f0d6;
  --firstNineColor: #fdf9ba;

  --twoBgColor: #fafafc;
  --twoIconBgColor: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  width: 100%;
  position: relative;
}

.prev-next__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
}

.prev-next-btns {
  all: unset;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
}

.prev-next-btns a {
  text-decoration: none;
}
