@import './reset.css';

:root {
  --firstOneColor: #d0edf5;
  --firstTwoColor: #e2f0d6;
  --firstThreeColor: #f9fab6;
  --firstFourColor: #ebebeb;
  --firstFiveColor: #ebebeb;
  --firstSixColor: #fdc3c2;
  --firstSevenColor: #d0edf5;
  --firstEightColor: #e2f0d6;
  --firstNineColor: #fdf9ba;

  --twoBgColor: #fafafc;
  --twoIconBgColor: #ffffff;

  --artisticHeaderColor: linear-gradient(to right, #c0392b, #8e44ad);
  --artisticBgColor: #d5d5d3;
  --artisticBoxShadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);

  --architectureBgColor: #f2f2f2;
  --instagram: linear-gradient(to right, #fc466b, #3f5efb);

  --gray: #eff0f7;
  --boxShadow: 0 0.3px 2px -5px rgba(0, 0, 0, 0.295),
    0 1.1px 6.7px -5px rgba(0, 0, 0, 0.435), 0 5px 30px -5px rgba(0, 0, 0, 0.73);
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  width: 100%;
  position: relative;
}

.prev-next__wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
}

.prev-next-btns {
  all: unset;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  text-align: center;
}

.prev-next-btns a {
  text-decoration: none;
}
